* {
  font-family: "Betania Patmos", cursive;

  padding: 0px;
  margin: 0;
}
h1 {
  color: green;
}

.red {
  color: red;
}
.purple {
  color: purple;
}
.italic {
  font-style: italic;
}

#hero2 {
  background-color: aqua;
}
#hero {
  background-color: aqua;
}
#product {
    background-color: aqua;
}

#product .wrap{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 10px 

}

header {
    color:white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: purple;
    justify-content: space-between;
}

header .logo {
    gap: 10px;
    color: white;
    font-size: 25px;
    display: flex;
    align-items: center;
    text-decoration: none;

}

header .logo img {
  width: 40px;
  height: 40px;
}

header nav ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
}
