#team {
  padding: 40px 0;
}

#team h2 {
  text-align: center;
}

#team .wrap {
  display: flex;
  gap: 20px;
  padding-top: 50px;
  justify-content: center; 
}

#team .wrap article {
  width: 180px;
  border: 1px solid gray;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

#team .wrap article img {
  width: 140px;
  height: 140px;
  border-radius: 50px;
  margin-bottom: 20px;
  border: 2px solid cyan;
}

#team .wrap article .title {
  color: blue;
}